RewriteEngine On

# Remove need for .php
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule !.*\.php$ %{REQUEST_FILENAME}.php [QSA,L]

# WHMCS API
RewriteRule ^\?/Android$ dns.php [L]

# OpenVPN
RewriteRule ^ovpnfile\.txt$ ovpnfile.php [L]
RewriteRule ^ovpn\.zip$ vpn.php [L]
RewriteRule ^vpncertificate\.zip$ vpn.php [L]

# RTXMods
RewriteRule ^api/adview.php$ ads.php?ad-type=rtxadview [L]
RewriteRule ^api/sport.php$ sports.php [L]
RewriteRule ^api/logo/bg.php$ logo.png [L]
RewriteRule ^api/Background/bg.php$ bg.png [L]